<h1> {{ title }} </h1>

<body>
  {{# if products }}
  <p> Go back to <a href="/" class="button">product list</a>
    <br>
    <br>
    {{# each products }}
      <b> {{ this.item.item }} x {{ this.quantity }} </b>
      <p> {{ this.price }} ({{ this.item.price }}/each) </p>
      {{# if this.item.discounts }}
        <p><b> Offer: </b> {{ this.item.discounts }} </p>
      {{/if}}
    {{/each}}
    <p>
      Subtotal: <span id="subtotal"> {{ subtotal }} </span> <br>
      Discount Amount: <span id="discountamt"> {{ discountAmt }} </span> <br>
      Total: <span id="totalamount"> {{ basketTotal }} </span> <br>
      Currency: <span id="currency"> {{ currency }} </span>
    </p>

    <form> Convert to:
      <select id="currencies" onchange="convertAmount()">
        <option value="USD" title="United States of America">USD</option>
        <option value="GBP" title="United Kingdom">GBP</option>
        <option value="EUR" title="Europe">EUR</option>
      </select>
    </form>

    <!-- <script type='text/javascript' src='../config.js'></script> -->

    <script>
      function convertAmount() {
        var x = document.getElementById("currencies");
        var i = x.selectedIndex;
        document.getElementById("currency").innerHTML = x.options[i].text;
        var request = new XMLHttpRequest();
        var apiUrl = 'http://api.currencylayer.com/live?access_key=a0c8e905a4a85b537ae6c052d8f37308&currencies=USD,GBP,EUR&format=1';
        request.open("GET", apiUrl);
        request.send();
        request.onload = function() {
          let response = request.responseText;
          let parsedResponse = JSON.parse(response);
          if (i == 0) {
            document.getElementById("subtotal").innerHTML = (parsedResponse.quotes.USDUSD * {{ subtotal }}).toFixed(2);
            document.getElementById("discountamt").innerHTML = (parsedResponse.quotes.USDUSD * {{ discountAmt }}).toFixed(2);
            document.getElementById("totalamount").innerHTML = (parsedResponse.quotes.USDUSD * {{ basketTotal }}).toFixed(2);
          } else if (i == 1) {
            document.getElementById("subtotal").innerHTML = (parsedResponse.quotes.USDGBP * {{ subtotal }}).toFixed(2);
            document.getElementById("discountamt").innerHTML = (parsedResponse.quotes.USDGBP * {{ discountAmt }}).toFixed(2);
            document.getElementById("totalamount").innerHTML = (parsedResponse.quotes.USDGBP * {{ basketTotal }}).toFixed(2);
          } else if (i == 2) {
            document.getElementById("subtotal").innerHTML = (parsedResponse.quotes.USDEUR * {{ subtotal }}).toFixed(2);
            document.getElementById("discountamt").innerHTML = (parsedResponse.quotes.USDEUR * {{ discountAmt }}).toFixed(2);
            document.getElementById("totalamount").innerHTML = (parsedResponse.quotes.USDEUR * {{ basketTotal }}).toFixed(2);
          }
        }
      }
    </script>

    <a href="#" type="button" class="button"><h2>Checkout</h2></a>

    {{ else }}
    <p> Your basket is empty</p>
    <p> Go back to <a href="/" class="button">product list</a></p>
  {{/if}}
</body>
