<h1> {{ title }} </h1>

<body>
  {{# if products }}
  <p> Go back to <a href="/" class="button">product list</a>
    <br>
    <br>
    {{# each products }}
      <b> {{ this.item.item }} x {{ this.quantity }} </b>
      <p> {{ this.price }} ({{ this.item.price }}/each) </p>
      {{# if this.item.discounts }}
        <p><b> Offer: </b> {{ this.item.discounts }} </p>
      {{/if}}
    {{/each}}
    <p>
      Subtotal: {{ subtotal }} <br>
      Discount Amount: {{ discountAmt }} <br>
      Total: {{ basketTotal }} <br>
      Currency: {{ currency }}
    </p>

    <form> Convert to:
      <select id="currencies">
        <option value="USD" title="United States of America">USD</option>
        <option value="GBP" title="United Kingdom">GBP</option>
        <option value="EUR" title="Europe">EUR</option>
      </select>
    </form>

    {{ else }}
    <p> Your basket is empty</p>
    <p> Go back to <a href="/" class="button">product list</a>
  {{/if}}
</body>
